
% listitems = []
% form_start = ''
% form_end = ''
% mesage = '&nbsp;'
% role_string = ''
% redirect_uri = 'http://' + hostname + uri

<div id="login">                             <!-- start login -->
${ form_start }
 <ul>
% if li == listitems.pop() :
  <li class="first"><% $li %></li>
% endif
% if ($role_string){
<li class="middle"><% $role_string %></li>
% }
% for my $li (@lis){
  <li class="rest"><% $li %></li>
% }
 </ul>
 <div class="error">
  <% $message %>
 </div>
% if ($redirect){
 <input type="hidden" name="redirect" value="<% $redirect %>" />
% }
<% $form_end %>
</div>                                       <!-- end login -->
%# ======================================================================
<%args>
 $username      => ''
 $password      => ''
 $submit_logout => ''
 $submit_login  => ''
 $redirect      => ''
</%args>
%j
<%init>
 my $HTTPS_LOGIN = $ENV{WA_HTTPS_LOGIN};
 my @lis; # <li>'s
 my $form_start = '';       # HTML for the login form, if we need one.
 my $form_end   = '';
 my $message = '&nbsp;';    # '&nbsp;' or 'sample login error'
 my $role_string = '';
 my $redirect_uri = 'http://' . $r->hostname . $r->uri; # after login, no https
 if ($session->login_error){
   # set it mason/site/login_handler.htm; same as incorrect submit_login
   $session->remove('login_error');                     # reset
   $message = qq{Oops: wrong username or password.};    # report error
 }
 elsif ($submit_login){  # was " or $password or $username"
   # $message .= '<pre> ... trying to authenticate';
   my $user = GenericPerson->authenticate($username, $password);
   # use Data::Dumper;
   # $message .= Dumper($user) . '</pre>';
   if ($user){
     $session->user($user);
     $m->redirect($redirect_uri);# reload same page to get role and permissions
   }
   else {
     $message = qq{Oops: wrong username or password.};
   }
 }
 elsif ($submit_logout){ 
   $session->remove('user');
   $m->redirect($redirect_uri);  # reload same page without ?submit_logout=1 
 }

 # If the user isn't logged in, 
 # display a login dialog or give a link to get to one.
 if (not $session->user){
   if ($HTTPS_LOGIN and not $ENV{HTTPS} ){
     # Display a link to a secure login page.
     push @lis, qq{<a href="https://} 
                . $ENV{SERVER_NAME} . $r->uri . qq{">log in</a>};
   }
   else {
     # If this is our custon "Forbidden" page, bounce off the login_handler.
     my $action_uri = $redirect ? $ENV{WA_SRC} . '/site/login_handler.htm' 
                                : $r->uri;
     # The HTML for the login form for username/password :
     $form_start = qq{<form class="login" name="login" } . 
                   qq{method="POST" action="$action_uri" >};
     $form_end   = qq{</form>};
     push @lis, qq{user <input name="username" type="text"     size="16"  />},
                qq{pass <input name="password" type="password" size="16"  />},
                qq{<input name="submit_login" type="submit" value="log in"/>},
		;
   }
 }
 # If the user is logged in, display name and logout link.
 else {
   my $logout_uri = '?submit_logout=1';
   if ($redirect){
     $logout_uri = $ENV{WA_SRC} . 
       '/site/login_handler.htm?submit_logout=1&redirect=' . $redirect;
   }
   $role_string = $page->role->name;
   push @lis, $session->username, qq{<a href="$logout_uri">log out</a></li>};
 }

</%init>
%
<%doc>

 Typical usage from another component:
  <div style="position:absolute; top:0; left:0; width:100%">
    <& /mason/login.mhtml, %ARGS &>
  </div>

 If not logged in, 
  * with http:  access, it shows        [log in]
    and links to the https address
  * with https: access, it shows        user:______  password:_____  [log in]

 Once logged in, the component shows
                                        [icon] username [log out]

 The user information is stored in $session->user, either
  * as a Person object (if username is in the cs mysql database), or
  * as a Generic object (which defaults to $session->user->any_method = false )
 Thus 
  * $session->user is true/false when someone is/isn't logged in, and
  * $session->user->username has their username when logged in.

 I waffled about what to do for folks who already have a session
 and then come in through http, since their cookie is being sent
 in the clear and thus their session could be hijacked by an evildoer.
 The http cookie standard does allow a "secure" flag which would have
 session cookie passed only for https connections for just this reason
 - but I decided for now not to be that paranoid.  

 The "redirect" option is for making all this work within "Forbidden" 
 error pages; see forbidden.html and login_handler.htm in mason/site/ .

 This component doesn't look like much without reasonable 
 css to position the elements; see styles/wikiacademia.css.

 ----------------------------------------------------
  $Id: login.mhtml 210 2006-01-23 16:42:52Z apache $
 ----------------------------------------------------
</%doc>

