
# compiled files
*.pyc
*.pyo
*.egg
*.egg-info

# temp files
.#*

# mac stuff
.DS_Store
.DS_Store/*
nul

# backup stuff
.unison*

# virtual python environment
venv

# development database binary
database/umber.db
database/umber.db.backup*

# embedded git repos
# (This is I think the default behavior anyway.)
.git

