# -- requirements.txt --
#
# git >= 1.7
# sqlite3 >= 3.7
# virtualenv >= 1.9
# python >= 2.7
# openldap >= 2.4.11

# You can install the remaining ones with
#
#  $ . env/bin/activate
#  (env)$ pip install -r requirements.txt

Flask >= 0.9
SQLAlchemy >= 0.8
python-creole >= 1.0
markdown >= 2.0
Pygments >= 1.6
Flask-Mako >= 0.2
Flask-Login >= 0.2.5
Python-LDAP >= 2.4.13


# Flask-WTF >= 0.8

