
div#header {
 display: none;
}

column-one {
 display: none;
}

column-two {
 margin: 0 0 0 0;
 padding: 1em;
}

footer {
 display: none;
}

#wiki-actions {
 display: none;
}

body {
 background: white;
 padding: 1em;
}

.component {
 border-top: none;
 border-left: none;
 border-right: none;
}
