
 So here's a file.
<p/>

<hr />
<pre>
%  my $self    = $app->page;
 self = <% describe($self) %>
%#  my $session = $Wikiacademia::session;
 session = <% describe($session) %>
%  my $student_owner = $self->student_owner;
 student_owner = <% describe($student_owner) %>
%  my $username      = $session->username;
 username = <% describe($username) %>
%  my $is_student    = $app->role->rank >= Role->student->rank;
 is_student = <% describe($is_student) %>
%  my $is_faculty    = $app->role->rank >= Role->faculty->rank;
 is_faculty = <% describe($is_faculty) %>
 $is_student && ($student_owner eq $username) = '<% 
 $is_student && ($student_owner eq $username) %>'

</pre>
<hr />

<& "$HTDOCS/mason/debug.mhtml", %ARGS &>
