{#- attachments #}
{%- if page.can['read'] and page.ext == '.md' and not page.is_sys and
   (page.has_attachments or page.action == 'edit' or
                            (not page.exists and page.can['write']))
%}
<!-- start attachments -->
<div class="component">
<h2 class="directory">
  attachments
  <img src="{{ static_url('images/paper_clip_tilt.png') }}" alt="[paper clip]">
</h2>
<div id="dir-ls">
{%- if page.action == 'edit' and page.can['write'] %}
  {#- edit attachments #}
<form class='folder' name='folder' method='POST' action='{{ page.url }}'>
  <div id='wasdragndrop'>
  <table>
    <tr>
      <td></td> {# icon #}
      <td>&nbsp;</td>
      <td class="heading">last modified</td>
      <td class="heading">size</td>
      <td></td> {# checkbox column placeholder #}
    </tr>
    {#- <tr><td colspan=5><hr></td></tr> #}
    {%- for child in page.attachments %}
    <tr>
      <td><img src='{{ child.icon_url() }}' alt='TXT'></td>
      <td><b><a href='{{ page.name + '.attachments/' + child.name_with_ext }}'>{{ child.name_with_ext }}</a></b></td>
      <td>{{ child.lastmodified.datetime() }}</td>
      <td>{{ child.bytesize }}</td>
      <td><input type='checkbox' class='foldereditcheckbox'
		 name='{{ child.abspath }}' value='checkboxdelete' }}'></td>
    </tr>
    {%- endfor %}
    {# <tr><td colspan=5><hr></td></tr> #}
    <tr><td colspan=5> </td></tr>    
    <tr><td colspan=4></td>
      	<td><input type='submit'
		   name='submit_delete'
		   id='folderdeletebutton'
	           class='disabledbutton' 
		   value='delete'
		   disabled><td>
    </tr>
  </table>
  </div>
  </div>
</form>
<form class='dropzone' id='umberdropzone' action='{{ page.url }}?dropzone=1'></form>
{%- else %}
  {#- show attachements #}
  <table>
    <tr>
      <td></td> {# icon #}
      <td>&nbsp;</td>
      <td class="heading">last modified</td>
      <td class="heading">size</td>
    </tr>
    {%- for child in page.attachments %}
    <tr>
      <td><img src="{{ child.icon_url() }}" alt="TXT"></td>
      <td><b><a href="{{ page.name + '.attachments/' + child.name_with_ext }}">{{ child.name_with_ext }}</a></b></td>
      <td>{{ child.lastmodified.datetime() }}</td>
      <td>{{ child.bytesize }}</td>
    </tr>
    {%- endfor %}
  </table>
{%- endif %}
</div>
</div>
{%- endif %}
<!-- end attachments -->
