<h3>editing {{page.path_no_name}}<span>{{ page.name_with_ext }}</span></h3>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages and messages[0][0] == 'formerror' %}
  <div class="error"> {{ messages[0][1] |e }} </div>  
  {% endif %}
  {% endwith %}
<form class="edit" name="edit" method="POST" action="{{ page.url }}">
<textarea id="edit_text" name="edit_text" cols=45 rows=20
{% if page.exists %}
>{{ page.content() }}</textarea>
{% else %}
>
{{ page.name_underlined }}
This page doesn't exist yet.

To create it, click "save page" ... though changing this text first would be a good idea.
</textarea>
{% endif %}
<input type="submit" name="submit_edit" value="save page" />
</form>
<div style="font-size:85%; color:#666666"><h2>help</h2>
  <div>You are editing a page which can contain markdown and html.
  Just plain text with blank lines between paragraphs works fine, or you can check
  out the <a href="/formatting_help.html">formatting help</a> page.
  Attachments may be added by dragging files from your desktop to the region below.</div>
</div>
