<!doctype html>
{%- autoescape false %}
<html>
<head>
  <title>{{ page.html_title }}</title>
  <meta charset="utf-8">
  <link rel="icon" type="image/gif" href="{{ static_url('images/favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ static_url('styles/umber.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ static_url('styles/pygment.css')}}">
  <script type="text/javascript" src="{{ static_url('js/jquery-3.3.1.min.js') }}" defer></script>
  <script type="text/javascript" src="{{ static_url('js/underscore-min.js') }}" defer></script>
  {#- -- mathjax -- #}
  {#- using a local mathjax is problematic - it needs fonts etc;
     local copies have some same-origin restrictions which can get in the way;
     see http://docs.mathjax.org/en/latest/start.html#mathjax-cdn #}
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  {#- -- dropzonejs.com -- drag'n'drop file uploads #}
  <script src="{{ static_url('js/dropzone.min.js') }}" defer></script>
  <link rel="stylesheet" href="{{ static_url('styles/dropzone_modified.css') }}">
  <script type="text/javascript" src="{{ static_url('js/umber.js') }}" defer></script>
</head>
<body>
<div id="header"> <!-- start header -->
  <a id="cs-logo" href="{{ g.site_url }}"><img src="{{ static_url('images/cs_bennington.png') }}" alt="computer science @ bennington.college" /></a>
{% include 'login.html' %}
</div> <!-- end header -->
{%- include 'actions.html' %} 
<div id="column-one">
 <h1><a href="{{ course.get_home_url() }}"> {{ course.name_as_title }} </a></h1>
 {%- if not page.course.name == 'Umber' %} 
 <div><div id="semester"> {{ course.semester }} </div></div>
 {%- endif %}
 <div>{{ course.nav_html(user, page) }}</div>
 {#- include 'navigation.html' #} 
 <div>
  <a href="http://www.bennington.edu"><img id="mc-logo" alt="Bennington College" src="{{static_url('images/bennington_logo.png')}}" /></a>
 </div>
</div>
<div id="column-two">
  <div class="component">
  {% include 'content.html' %}
  <div id="modified" style="clear:right">
    {{ page.breadcrumbs }}
  {%- if page.lastmodified %}
    <br /> last modified {{ page.lastmodified.daydatetime() }}
  {%- endif %}
  </div>
 </div>
 {%- include 'attachments.html' %}
 <div class="footer">
   {%- include 'footer.html' %}
 </div>
</div>
{%- if g.debug %}
  {%- include 'debug.html' %}
{%- endif %}
</body>
</html>
{%- endautoescape %}
