<!doctype html>
{% autoescape false %} {# i.e. don't turn < into &lt; #}
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <link rel="icon" type="image/gif"
	href="{{ static_url('images/favicon.ico') }}">
  <link rel="stylesheet" type="text/css"
	href="{{ static_url('styles/umber.css')}}">
  <link rel="stylesheet" type="text/css"
	href="{{ static_url('styles/pygment.css')}}">
  <script type="text/javascript"
	  src="{{ static_url('js/jquery-3.2.1.min.js') }}" defer></script>
  <script type="text/javascript"
	  src="{{ static_url('js/underscore-min.js') }}" defer></script>
  <script type="text/javascript"
	  src="{{ static_url('js/umber.js') }}" defer></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
</head>
<body>
<div id="header">
  <a id="cs-logo" href="{{ g.site_url }}"><img src="{{ static_url('images/cs_m_edu.png') }}" 
     alt="computer science @ marlboro.college" /></a>
  {% include 'login.html' %}
</div>
{% include 'actions.html' %} 
<div id="column-one">
 <h1><a href="{{ course.get_home_url() }}"> {{ course.name_as_title }} </a></h1>
 {% if not page.course.name == 'Umber' %} 
 <div><div id="semester"> {{ course.semester }} </div></div>
 {% endif %}
 <div>{{ course.nav_html(user, page) }}</div>
 {# include 'navigation.html' #} 
 <div>
  <a href="http://www.marlboro.college"><img id="mc-logo" alt="Marlboro College" 
     src="{{static_url('images/deadtree_logo.png')}}"/></a>
 </div>
</div>
<div id="column-two">
  <div class="component">
  {% include 'content.html' %}
  <div id="modified">
    {{ page.breadcrumbs }}
  {% if page.lastmodified %}
    <br /> last modified {{ page.lastmodified.daydatetime() }}
  {% endif %}
  </div>
 </div>
 {% include 'attachments.html' %}
 <div class="footer">
   {% include 'footer.html' %}
 </div>
</div>
{% if g.debug %}
  {% include 'debug.html' %}
{% endif %}
</body>
</html>
{% endautoescape %}
