<!doctype html>
<html>
<head>
  <title>${ page.title }</title>
  <meta charset="utf-8">
  <link rel="icon" type="image/gif" 
        href="${'images/favicon.ico' | static_url}">
  <link rel="stylesheet" type="text/css" 
        href="${'styles/wikiacademia.css' | static_url}">
</head>
<body>
<div id="header">
 <a id="cs-logo" href="/"><img 
    src="${'images/cs_m_edu.png' | static_url}" 
    alt="computer science @ marlboro.edu" /></a>
 <%include file="sub/login.html" **context.kwargs />
</div>
<%include file="sub/actions.html" **context.kwargs />
<div id="column-one">
 <h1><a href="${ course.uri }">${ course.name_as_title }</a></h1>
 <div><div id="semester">${ course.semester }</div></div>
 <%include file="sub/navigation.html" **context.kwargs />
 <div>
  <a href="http://www.marlboro.edu"><img id="mc-logo" alt="Marlboro College" 
     src="${'images/mc-logo.gif' | static_url }" /></a>
 </div>
</div>
<div id="column-two">
 <div class="component">
  % if page.has_error:
    <%include file="sub/error.html" **context.kwargs />
  % endif
  <%include file="sub/work.html" **context.kwargs />
  <%include file="sub/content.html" **context.kwargs />
  <div id="modified">
   ${ page.uri_links }<br />
  % if page.lastmodified:
    last modified ${ page.lastmodified }
  % endif
  </div>
 </div>
 <%include file="sub/attachments.html" **context.kwargs />
 <div class="footer"> 
   <%include file="sub/footer.html" **context.kwargs />
 </div>
</div>
% if debug:
  <%include file="sub/debug.html" **context.kwargs />
% endif
</body>
</html>

<!-- 

 sub/login.html
 sub/actions.html
 sub/navigation.html
 sub/error.html
 sub/work.html
 sub/content.html
 sub/attachments.html
 sub/footer.html
 sub/debug.html

 I'm using Mako rather than Jinja2 for a template engine.
 Some of these 'include' components may want to be in
 another perhaps functional form, but for now I'll try this.

 Mako seems much more Mason-ish, including argument declarations
 for template files in a <%page > tag.

 page.title
 page.has_error
 page.has_lastmodified
 page.lastmodified

 course.uri
 course.name_as_title

-->
