{# content  #}
{# ######## #}
{% if page.is_sys %}
  {% include 'umber/sys.html' %}
{% elif not page.can['read'] %}
  {% include 'umber/forbidden.html' %}
{% elif not page.exists %}
  {% if page.can['write'] %}
    {% include 'umber/edit_file.html' %}
  {% else %}
    {% include 'umber/missing.html' %}
  {% endif %}
{% elif page.is_dir %}
  {% if page.action == 'edit' and page.can['write'] %}
    {% include 'umber/edit_folder.html' %}
  {% else %}
    {% include 'umber/folder.html' %}
  {% endif %}
{% elif page.revision %}
  <h3 class='revision'>version from {{ page.revision_date }}</h3>
  {{ page.revision_content_as_html() }}
{% else %}
  {% if page.action == 'edit' and page.can['write'] %}
    {% include 'umber/edit_file.html' %}
  {% elif page.action == 'history' %}
    {% include 'umber/history_file.html' %}
  {% else %}
    {{ page.content_as_html() | safe }}
  {% endif %}
{% endif %}
