{% if page.issys %}
  {% include 'umber/sys.html' %}
{% elif not page.can['read'] %}
  {% include 'umber/forbidden.html' %}
{% elif not page.exists %}
  {% if page.can['write'] %}
    {% include 'umber/edit_file.html' %}
  {% else %}
    {% include 'umber/missing.html' %}
  {% endif %}
{% elif page.isdir %}
  {% if page.action == 'edit' and page.can['write'] %}
    {% include 'umber/edit_folder.html' %}
  {% else %}
    {% include 'umber/folder.html' %}
  {% endif %}
{% else %}
  {% if page.action == 'edit' and page.can['write'] %}
    {% include 'umber/edit_file.html' %}
  {% else %}
    {{ page.content_as_html() | safe }}
  {% endif %}
{% endif %}
