{# content  #}
{# ######## #}
{% if not page.can['read'] %}
    {% include 'umber/forbidden.html' %}
{% elif page.is_sys and page.action == 'edit' and page.can['write'] %}
    {% include page.sys_edit_template %}
{% elif page.is_sys %}
    {% include page.sys_template %}
{% elif page.is_work and page.action == 'edit' and page.can['write'] %}
    {% include 'umber/edit_work.html' %}
{% elif page.is_work %}
    {% include 'umber/work.html' %}
{% elif not page.exists and page.can['write'] %}
    {% include 'umber/edit_file.html' %}
{% elif not page.exists %}
    {% include 'umber/missing.html' %}
{% elif page.is_dir and page.action == 'edit' and page.can['write'] %}
    {% include 'umber/edit_folder.html' %}
{% elif page.is_dir %}
    {% include 'umber/folder.html' %}
{% elif page.action == 'edit' and page.can['write'] %}
    {% include 'umber/edit_file.html' %}
{% elif page.action == 'history' %}
    {% include 'umber/history_file.html' %}
{% else %}
    {{ page.content_as_html() | safe }}
{% endif %}
{# ######## #}
