{% macro show(variable) -%}
  <h4>{{variable}}</h4>
  {% if variable == 'request' %}
    &nbsp; request.url = {{request.url }} <br>
    &nbsp; request.host = {{request.host }} <br>
    &nbsp; request.url_root = {{request.url_root }} <br>
    &nbsp; request.base_url = {{request.base_url }} <br>
    &nbsp; request.path = {{request.path }} <br>
    {# &nbsp; request.full_path = {{request.full_path }} <br> #}
    &nbsp; request.endpoint = {{request.endpoint }} <br>
    &nbsp; request.is_secure = {{request.is_secure }} <br>
    {# &nbsp; request.cookies = {{request.cookies }} <br> #}
  {% endif %}
  {% if variable == 'user' %}
    &nbsp; user.username = {{user.username }} <br>
    &nbsp; user.person_id = {{user.person_id }} <br>
    &nbsp; user.name = {{user.name }} <br>
    &nbsp; user.role = {{user.role }} <br>
    &nbsp; user.password = {{user.password }} <br>
    &nbsp; user.is_authenticated() = {{user.is_authenticated() }} <br>
    &nbsp; user.is_anonymous() = {{user.is_anonymous() }} <br>
  {% endif %}
  {% if variable == 'page' %}
    &nbsp; page.pagepath = {{page.pagepath }} <br>
    &nbsp; page.title = '{{page.title }}' <br>
    &nbsp; page.allow_insecure_login = {{page.allow_insecure_login }} <br>
    &nbsp; page.url = {{page.url }} <br>
    &nbsp; page.secure_url = {{page.secure_url }} <br>
    &nbsp; page.has_lastmodified = {{page.has_lastmodified }} <br>
    &nbsp; page.lastmodified = {{page.lastmodified }} <br>
  {% endif %}
  {% if variable == 'page.course' %}
    &nbsp; page.course = {{page.course }} <br>
    &nbsp; page.course.name = '{{page.course.name }}' <br>
    &nbsp; page.course.name_as_title = '{{page.course.name_as_title }}' <br>
    &nbsp; page.course.uri() = '{{page.course.uri() }}' <br>
    &nbsp; page.course.semester() = '{{page.course.semester() }}' <br>
  {% endif %}
  {#   ## dir({{variable}) = {{dir(context[variable]) }}   #}
{%- endmacro %}

<div style='background-color:AliceBlue; 
            border:1px solid black; 
            float:right; padding: 0.2em 2em'>
  <h2>debug</h2>
  <hr>
  

  {# {{ show('session') }} #}
  {{ show('request') }}
  {# {{ show('user') }} #}
  {# {{ show('page') }} #}
  {# {{ show('page.course') }}  #}

  <hr>
  get_flashed_messages() = {{ get_flashed_messages() }}
</div>
