{# edit folder  #}
{# ######## #}
<h2 class='directory'>Index of {{ page.path }} </h2>
<div id='dir-ls'>

<form class='folder' name='folder' method='POST' action='{{ page.url }}'>
  <div id='dragndrop'>
  <table>
    <tr>
      <td></td> {# checkbox column placeholder #}
      <td></td> {# icon #}
      <td>name</td>
      <td>last modified</td>
      <td>size</td>
    </tr>
    <tr><td colspan=5><hr></td></tr>
    {% for child in page.children() %}
    <tr>
      <td><input type='checkbox' class='foldereditcheckbox'
		 name='{{ child.abs_with_ext }}' value='checkboxdelete' }}'></td>
      <td><img src='{{ child.icon_url() }}' alt='TXT'></td>
      <td><b><a href='{{ child.name_with_ext }}'>{{ child.name_with_ext }}</a></b></td>
      <td>{{ child.lastmodified.datetime() }}</td>
      <td>{{ child.bytesize }}</td>
    </tr>
    {% endfor %}
    <tr><td colspan=5><input type='submit'
			     name='submit_delete'
			     id='folderdeletebutton'
			     class='disabledbutton' 
			     value='delete'
			     disabled><td></tr>
    <tr><td colspan=5><hr></td></tr>    
  </table>
  <div>
    Drag and drop files here to upload them.
    <div id="progresstrough"><div id="progressbar"><div>0%</div></div></div>
    <!-- <span id="progressblurb">upload progress &nbsp;</span> -->
  </div>
  </div> <!-- dragndrop -->
</form>

<form class='folder' id='new_folder_form' method='POST' action='{{ page.url }}'>
  <div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages and messages[0][0] == 'folder' %}
    New folder <input type='input' name='foldername' id='foldername' size='24'
 		      value='{{ messages[1][1] |e }}' />
    <input  type='submit' name='submit_createfolder' value='create' />  
    <div class="error"> {{ messages[0][1] |e }} </div>
    {# possible message here is 'Oops: folder names can only contain ...' #}
  {% else %}
    New folder <input type='input' name='foldername' id='foldername' size='24' />
    <input  type='submit' name='submit_createfolder' value='create' 
	    id='foldercreatebutton' class='disabledbutton' disabled />    
  {% endif %}
  {% endwith %}
  </div>
</form>

<form class='folder' id='privileges_form' method='POST' action='{{ page.url }}'>
  <div>
  Access rights <small>(one of [all, guest, students, faculty, admin] or usernames)</small><br>
  read: <input type='input' name='read_access' value='{{ page.read_access |e}}' size='16' />
  &nbsp;
  write: <input type='input' name='write_access' value='{{ page.write_access |e}}' size='16'/>
  &nbsp; 
  <input type='submit' name='submit_permissions' value='set permissions'/>
</form>

</div>
