<h2 class="directory">Index of {{ page.path }} </h2>
<div id="dir-ls">
<img src="/icons/blank.gif" alt="     " /> name                 last modified             size    
<hr/>
<img src="/icons/folder.gif" alt="[DIR]" /><b><a href="/courses/spring2017/algorithms/code/">code/</a></b>                Apr 11 2017 12:47 am         -    
<img src="/icons/text.gif" alt="[TXT]" /><b><a href="/courses/spring2017/algorithms/home">home.wiki</a></b>            Jan  6 2017  4:14 pm      552B    
<img src="/icons/folder.gif" alt="[DIR]" /><b><a href="/courses/spring2017/algorithms/media/">media/</a></b>               Jan  6 2017  4:30 pm         -    
<img src="/icons/text.gif" alt="[TXT]" /><b><a href="/courses/spring2017/algorithms/navigation">navigation.wiki</a></b>      Jan 21 2017  1:37 pm    1.15kB    
<img src="/icons/folder.gif" alt="[DIR]" /><b><a href="/courses/spring2017/algorithms/notes/">notes/</a></b>               May  2 2017 10:00 am         -    
<img src="/icons/folder.gif" alt="[DIR]" /><b><a href="/courses/spring2017/algorithms/protected/">protected/</a></b>           Apr 24 2017  9:10 pm         -    
<img src="/icons/text.gif" alt="[TXT]" /><b><a href="/courses/spring2017/algorithms/resources">resources.wiki</a></b>       Jan  6 2017  4:31 pm    4.55kB    
<img src="/icons/folder.gif" alt="[DIR]" /><b><a href="/courses/spring2017/algorithms/special/">special/</a></b>             Dec 28 2016  9:21 pm         -    
<img src="/icons/folder.gif" alt="[DIR]" /><b><a href="/courses/spring2017/algorithms/students/">students/</a></b>            Jan 24 2017  7:57 pm         -    
<img src="/icons/text.gif" alt="[TXT]" /><b><a href="/courses/spring2017/algorithms/syllabus">syllabus.wiki</a></b>        Jan  6 2017  4:30 pm    1.47kB    
<img src="/icons/folder.gif" alt="[DIR]" /><b><a href="/courses/spring2017/algorithms/wiki/">wiki/</a></b>                Dec 28 2016  9:21 pm         -    
</div>

