<!doctype html>
{% autoescape false %} {# i.e. don't turn < into &lt; #}
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <link rel="icon"
	type="image/gif"
	href="{{static_url('images/favicon.ico')}}">
  <link rel="stylesheet"
	type="text/css" 
        href="{{static_url('styles/umber.css')}}">
  <script type="text/javascript"
	  src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"
          defer></script>
  <script type="text/javascript"
	  src="{{ url_for('static', filename='js/underscore-min.js') }}"
          defer></script>
  <script type="text/javascript"
	  src="{{ url_for('static', filename='js/umber.js') }}"
	  defer></script>
</head>
<body>
<div id="header">
  <a id="cs-logo" href="/"><img 
     src="{{ static_url('images/cs_m_edu.png') }}" 
     alt="computer science @ marlboro.edu" /></a>
  {% include 'umber/login.html' %}
</div>
{% include 'umber/actions.html' %} 
<div id="column-one">
 <h1><a href="{{ course.url }}"> {{ course.name_as_title }} </a></h1>
 <div><div id="semester"> {{ course.semester }} </div></div>
 <div>{{ course.nav_html(user, page) }}</div>
 {# include 'umber/navigation.html' #} 
 <div>
  <a href="http://www.marlboro.edu"><img id="mc-logo" alt="Marlboro College" 
     src="{{static_url('images/deadtree_logo.png')}}"/></a>
 </div>
</div>
<div id="column-two">
  <div class="component">
    {% if page.has_error %}
      {% include 'umber/error.html' %}
    {% endif %}
  {# {% include 'umber/work.html' %} if it's a work page, put grade in #}
  {% include 'umber/content.html' %}
  <div id="modified">
    {{ page.breadcrumbs }}
  {% if page.lastmodified %}
    <br /> last modified {{ page.lastmodified.daydatetime() }}
  {% endif %}
  </div>
 </div>
 {% include 'umber/attachments.html' %}
 <div class="footer">
   {% include 'umber/footer.html' %}
 </div>
</div>
{% if debug %}
  {% include 'umber/debug.html' %}
{% endif %}
</body>
</html>
{% endautoescape %}
