<!doctype html>
{% autoescape false %} {# i.e. don't turn < into &lt; #}
<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/gif" 
          href="{{static_url('images/favicon.ico')}}">
    <link rel="stylesheet" type="text/css" 
          href="{{static_url('styles/umber.css')}}">
</head>
<body>

{% if true %}
<div id="header">                          <!-- start header -->
    <a id="cs-logo" href="/"><img 
        src="{{static_url('images/cs_m_edu.png')}}" 
	alt="computer science @ marlboro.edu" /></a>

    {% include 'umber/login.html' %}

{#
    
    {% if user.is_authenticated() %}
        {% include 'umber/after_login.html' %}
    {% elif request.is_secure or page.allow_insecure_login %}
        {% include 'umber/form_login.html' %}
    {% else %}
        {% include 'umber/before_login.html' %}
    {% endif %}

#}


    
</div>                                     <!-- end header -->
{% endif %}

{% if true %}
{% include 'umber/actions.html' %} 
{% endif %}

{% if true %}
<div id="column-one">                      <!-- start column-one -->
 <h1><a href="#"> {{course.name_as_title}} </a></h1>
 <div><div id="semester"> {{course.semester}} </div></div>
 {% include 'umber/navigation.html' %} 
 <div>
  <a href="http://www.marlboro.edu"><img id="mc-logo" alt="Marlboro College" 
     src="{{static_url('images/deadtree_logo.png')}}"/></a>
 </div>
</div>                                     <!-- end column-one -->
{% endif %}

{% if true %}
<div id="column-two">                      <!-- start column-two -->
  <div class="component">                     <!-- start component -->
    {% if page.has_error %}
      {% include 'umber/error.html' %}
    {% endif %}
  {% include 'umber/work.html' %}
  {% include 'umber/content.html' %}
  <div id="modified">
    {{ page.uri_links }}<br />
  {% if page.has_lastmodified %}
    last modified {{ page.lastmodified }}
  {% endif %}
  </div>
 </div>                                       <!-- end component -->
 {% include 'umber/attachments.html' %}
 <div class="footer">                         <!-- start footer -->
   {% include 'umber/footer.html' %}
 </div>                                       <!-- end footer -->
</div>                                      <!-- end column-two -->
{% endif %}

{% if debug %}
    {% include 'umber/debug.html' %}
{% endif %}

</body>
</html>
{% endautoescape %}
