
#login { 
  width: 99%;
  min-width: 640px;
  text-align: right;
  padding: 0; 
  margin: 0; 
}

#login ul {
  margin:0;
  padding: 3px 3px 0 0;
}

#login li.first {
  background: url('/images/user.gif') left center no-repeat;
  display: inline;
  margin: 0;
  padding: 0 0 0 24px;
}

#login li.rest {
  display: inline;
  margin: 0;
  padding: 0 4px 0 16px;
}

#login li input {
  border: solid 1px #90C0C0;
  margin: 0;
  padding: 1px 1px 0 2px;
}

#login li input[type="submit"]{
  background-color: transparent;
  font-family: serif;
  color: #002bb8;
  border: none;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

#login li input[type="submit"]:hover{
  text-decoration: underline;
  cursor: pointer;
  color: #5a3696;
}

form.login {
  margin: 0;
  padding: 0;
}

.error {
  margin: 0; 
  padding: 2px 10px 0 0;
  color: #CC0000;
  border-collapse: collapse;
  font-style: italic; 
  font-weight: bold;
}
