{# {'read':'all' , 'write':'faculty' } #}
{# #}
<h1>assignments</h1>
{% for ass in page.course.get_assignments_with_extras()  %}
  <a name="{{ ass.nth }}"></a>
  <h2><span class="assign-id">{{ ass.nth }}.</span> {{ ass.name }}
    <span class="{{ ass.dateclass }}">due {{ ass.date }}
      {% if page.user_role.name == 'student' %}
      &nbsp;&nbsp; <span class="yourwork"><a
      href="{{ course.url }}/students/{{ user.username }}/work/{{ ass.nth }}">
      your work
      </a></span>
      {% endif %}
    </span>
  </h2>
  {{ ass.blurb_html | safe }}
{% endfor %}


