{# {'read':'admin'} #}
<h1>new course</h1>
<form class="user" id="new_course_form" method="POST" action='{{ page.url }}'>
<table>
  <tr>
   <td>
     <table class="layout">
       <tr>
	 <td class="heading">name</td>
	 <td><input type="input" name="name" value="Course Name" size="32"></td>
       </tr>
       <tr>
	 <td class="heading">term/folder</td>
	 <td><input type="input" name="path" value="fall2018/course_name" size="32"></td>
       </tr>
       <tr>
	 <td class="heading">faculty</td>
	 <td><input type="input" name="faculty" value="" size="32"></td>
       </tr>
       <tr>
	 <td class="heading">copy files from</td>
	 <td><input type="input" name="copyfrom" value="default_course" size="32"></td>
       </tr>
     </table>
   </td>
  </tr>
  <tr><td></td><td><input type="submit" name="submit_newcourse"
			  value="create new course"></td></tr>
</table>
</form>

