{# { 'read':'admin' } #}
<h1>new user</h1>
<form class="user" id="new_user_form" method="POST" action='{{ page.url }}'>
<table>
  <tr>
   <td class="userphoto"><img height="152" src="{{ static_url('images/janedoe.jpg') }}"	alt="user photo">
   </td>
   <td>
     <table class="layout">
       <tr>
	 <td class="heading">name</td>
	 <td><input type="input" name="name" value=""></td>
       </tr>
       <tr>
	 <td class="heading">username</td>
	 <td><input type="input" name="username" value=""></td>	 
       </tr>
       <tr>
	 <td class="heading">email</td>
	 <td><input type="input" name="email" value=""></td>	 
       </tr>
       {%- if g.authentication == "password" %}
       <tr>
	 <td class="heading">password</td>
	 <td><input type="input" name="password" value=""></td>
       </tr>
       {%- endif %}
     </table>
   </td>
  </tr>
  <tr><td></td><td><input type="submit" name="submit_newuser" value="create new user"></td></tr>
</table>
</form>
