{# {'read':'member'} #}
<!-- start roster -->
<h1>roster</h1>
<table style="border-spacing:0.5em">
<tr>
{%-   for _user in page.course.get_registered() %}
  <td align='center' valign='top'><a href="{{ page.course.url ~ '/sys/user?username=' ~ _user.username }}"><img class="roster" width=120
   src="{{ _user.get_photo_url() }}" alt="{{ _user.username }} photo" onerror=this.src="{{ static_url('images/generic_student.png') }}"></a><br/><b>{{ _user.name }}</b><br/><small> <a 
   href="mailto:{{ _user.email }}">{{ _user.username }}</a></small></td>
{%-     if (loop.index % 6) == 0 %}{# 6 pictures per row #}
</tr><tr>
{%-     endif %}
{%-   endfor %}
</tr>
<tr>
</tr>  
</table>
<h2>mail</h2>
<div><a href="{{ page.course.email_everyone_html() }}">email everyone</a></div>
<!-- end roster -->


